extends layout.pug

append stylesheets
	link(rel='stylesheet' href='/css/deviceList.css' type='text/css')
	link(href='/css/navbar.css' rel='stylesheet' type='text/css')

block content
	body.container
		include navbar
		- num = numOfDevice ? numOfDevice : false
		if num 
			h1 There are <span class="green"> #{numOfDevice} </span> devices connected.
		else
			h1 No connections.
		ul#list
		each val in deviceList
			- device = val
			each node in device
				- mac = node.bdaddrs.bdaddr
				li.device
					form(action='/api/disconnect' method='get')
						input.mac(value=mac type='text' name='mac' readonly)
						input.disconnectBtn(type='submit' name='submit' value='Disconnect')
					