html
  head
    meta(charset='utf-8')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title KDCassia
    block stylesheets
      link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
      link(href='../src/libs/Skeleton-2.0.4/normalize.css'        rel='stylesheet' type='text/css')
      link(href='../src/libs/Skeleton-2.0.4/skeleton.css'         rel='stylesheet' type='text/css')
    block content
