#icon {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	border: 1px solid black;
	margin: 0 auto 0 auto;
	background-image: url('../src/img/ktlogo.jpg');
	background-size: contain;
	position: relative;
	top: 25%;
}

#apis {
	margin-top: 20px;
}
#apis .three {
	position: relative;
	height: 80px;

}

#apis .three .button, .button-primary, #apis .three .button  .button-primary {
	background-color: #99cc33 !important;
	border-color: #99cc33 !important;
	position: absolute;
	top: 0;
	margin: 0;
	width: 100%;
	text-align: center;
	padding: 0;
}

.three p {
	margin-bottom: 0;
	position: relative;
	top: 50%;
}

.button:hover, .button-primary:hover {
	background-color: #7aa22a !important;
}


@media only screen and (max-width: 600px) {
	#apis .three {
		position: relative;
		height: 75px;
	}
}

